ContadorSlides = 0;

ContadorLookbook = 0;

{% raw %}

/* Instafeed */

var feed = new Instafeed({

	get: 'user',

	tagName: 'korimikids',

	sortBy: 'most-recent',

	target: 'contenedor-instagram',

	template: '<a href="{{link}}" target="_blank"><img src="{{image}}" alt="" /></a>',

	resolution: 'thumbnail',

	clientId: '95f1efd71408426b83fa1909eb66db41',

	userId: '2264935841',

	accessToken: '2264935841.95f1efd.725b7c746add4419919bd15300080094',

	limit: 16

});

{% endraw %}

/* Funciones FAQ */

WindowWidth = window.innerWidth;

function SizeObject(){

	WindowWidth = window.innerWidth;

	ObjectWidth = $('.fila-central').width();

	if(WindowWidth >= 768){

		$('.central-contenido').css({'width':ObjectWidth});

	}
	else{

		$('.central-contenido').css('width','auto');

	};
}

$(document).ready(function(){	

	/* Header Submenu */

	$('.header-submenu li').off('click');

	$('.header-submenu li').on('click', function(){

		$('.submenu').css('height', 0);

		BotonLi = $(this).attr('id');

		AltoMascara = $('[data-id=' + BotonLi + '] .submenu-mascara').height();

		$('[data-id=' + BotonLi + ']').css('height', AltoMascara);

		if($('[data-id=' + BotonLi + ']').height() > 0){

			$('[data-id=' + BotonLi + ']').css('height', 0);

		};

	});

	$('a[data-id=shop]').off('click');

	$('a[data-id=shop]').on('click', function(e){

		e.preventDefault();

	});

	{% if settings.homesubmenu-stories %}

		$('a[data-id=stories]').off('click');

		$('a[data-id=stories]').on('click', function(e){

			e.preventDefault();

		});

	{% endif %}

	{% if settings.homesubmenu-about %}

		$('a[data-id=about]').off('click');

		$('a[data-id=about]').on('click', function(e){

			e.preventDefault();

		});

	{% endif %}

	/* Header Menu */

	$('.columna-cerrar').off('click');

	$('.columna-cerrar').on('click', function(){

		AltoContenedor = $('.menu-contenedor').height();

		$('.menu').css('height', AltoContenedor + 30);

		if ($('.menu').height() > 0){

			$('.menu').css('height', 0);

			$('.columna-cerrar img').fadeOut(function(){

				$('.columna-cerrar img').attr('src','{{ "ice9-image-menu-icon-light.svg" | asset_url }}');

				$('.columna-cerrar').css('vertical-align','sub');

				setTimeout(function(){$('.columna-cerrar img').fadeIn();}, 10);

			});

		}
		else{

			$('.columna-cerrar img').fadeOut(function(){

				$('.columna-cerrar img').attr('src','{{ "ice9-image-cerrar-icon-light.svg" | asset_url }}');

				$('.columna-cerrar').css('vertical-align','text-top');

				setTimeout(function(){$('.columna-cerrar img').fadeIn();}, 10);

			});

		};

	});

	/* Cookie Aviso Header */

	{% if settings.aviso-promociones-check %}

		/*Cookies.remove('header-borde');*/

		if (!Cookies.get('header-borde')){

			Tiempo = "{{ settings.aviso-promociones-time }}"

			$('.header-borde').css({'height':'auto', 'overflow':'auto', 'padding-top':'5px', 'padding-bottom':'5px'});

			$('.borde-columna img').off('click');

			$('.borde-columna img').on('click', function(){

				$('.header-borde').css({'height':0, 'overflow':'hidden', 'padding-top':0, 'padding-bottom':0});

				Cookies.set('header-borde', true, { expires: parseInt(Tiempo) });

			});

		};

	{% endif %}

	/* Instafeed */

	if($('#contenedor-instagram').length > 0){

		feed.run();

	}

	/* Modal Single Product */

	$('.text-extra a').off('click');

	$('.text-extra a').on('click', function(e){

		e.preventDefault();

		$('.contenedor-modal').fadeIn();

		$('body').css('overflow','hidden');

	});

	$('.cerrar-modal').off('click');

	$('.cerrar-modal').on('click', function(){

		$('.contenedor-modal').fadeOut();

		$('body').css('overflow','auto');

	});

	/* Función input cart */

	$('.info-plus span').off('click');

	$('.info-plus span').on('click', function(){

		PlusClick = $(this).text();

		PlusId = $(this).parent().attr('id');

		ActualVal = $('#' + PlusId + ' input').val();

		if(ActualVal == ''){

			ActualVal = 0;

		}

		if(PlusClick == '+'){

			$('#' + PlusId + ' input').val(parseInt(ActualVal) + 1);

		}

		else if(PlusClick == '+' || ActualVal > 1){

			$('#' + PlusId + ' input').val(parseInt(ActualVal) - 1);

		}

	});


	/* Funciones FAQ */

	$('[data-tag]').each(function(){

		DataId = $(this).attr('data-id');

		DataTag = $(this).attr('data-tag');

		DataStatus = $(this).attr('data-satus');

		DataImg = $(this).attr('data-img');

		DataContent = $(this).html();

		if (DataImg){

			$('.contenedor-faq').append('<div class="faq-fila" id="faq-' + DataId + '"><div class="fila fila-lateral fila-boton ' + DataStatus + '">' + DataTag + '</div><div class="fila fila-central"><div class="central-contenido ' + DataStatus + '-contenido"><img src="' + DataImg + '" alt="">' + DataContent + '</div></div><div class="fila fila-lateral"></div></div>');

		}

		else{

			$('.contenedor-faq').append('<div class="faq-fila" id="faq-' + DataId + '"><div class="fila fila-lateral fila-boton ' + DataStatus + '">' + DataTag + '</div><div class="fila fila-central"><div class="central-contenido ' + DataStatus + '-contenido">' + DataContent + '</div></div><div class="fila fila-lateral"></div></div>');

		}

	});

	ParentId = $('.faq-fila .active').parent().attr('id');

	if(WindowWidth >= 768){

		SizeObject();

	}

	$('.fila-boton').off('click');

	$('.fila-boton').on('click', function(){

		ActualParent = $(this).parent().attr('id');

		if(ActualParent != ParentId){

			$('.central-contenido').fadeOut();

			$('#' + ActualParent + ' .central-contenido').fadeIn();

			$('#' + ParentId + ' .fila-boton').removeClass('active');

			$('#' + ActualParent + ' .fila-boton').addClass('active');

			ParentId = ActualParent;

		};			

	});

	$(window).resize(function(){

		SizeObject();

	});

	/* Función Slide Lookbook */

	TotalLookbook = $('.lookbook-img').length;

	$('.lookbook-img').each(function(){

		SrcImg = $(this).attr('data-img');

		$('.lookbook-slides').append('<div style="background: url(' + SrcImg + ') no-repeat center center; -webkit-background-size: cover; background-size: cover;"></div>');

		ContadorLookbook++;

		if(ContadorLookbook ==TotalLookbook){

			$('.lookbook-slides').cycle();

		}

	});

	$('.lookbook-cerrar').off('click');

	$('.lookbook-cerrar').on('click', function(){

		window.history.back();

	});

});

$(window).load(function(){

	/* Funciones Masonry */

	$('.blog-grid').masonry({

		itemSelector: '.blog-item',

		columnWidth: 400,

		gutter: 60

	});

	/* Cookie Modal Mail */

	{% if settings.modal-mail-check %}

		/*Cookies.remove('modal-mail');*/

		if (!Cookies.get('modal-mail')){

			Tiempo = "{{ settings.modal-mail-time }}"

			$('.modal-mail').css('bottom',0);

			$('.cerrar-modal-mail').off('click');

			$('.cerrar-modal-mail').on('click', function(){

				$('.modal-mail').css('bottom',-600);

				Cookies.set('modal-mail', true, { expires: parseInt(Tiempo) });

			});
		};

	{% endif %}

});