{% comment %}templates/index.liquid{% endcomment %}

<!-- Contenedor general  -->

{% comment %}

	Función para encontrar una collección de un producto

	{% for collection in collections %}

		{% for product in collections[collection.handle]products %}

			{% if product.handle == settings.homeslide-1-der-prod %}

				/collections/{{ collection.handle }}/products/{{ product.handle }}

			{% endif %}

		{% endfor %}

	{% endfor %}

{% endcomment %}

<div class="contenedor-general">

	<div class="contenedor">

		<div class="home-slide cycle-slideshow" data-cycle-slides="> div" data-cycle-fx="scrollHorz" data-cycle-paused="true" data-cycle-prev=".home-prev" data-cycle-next=".home-next" data-cycle-pager=".cycle-paginacion" data-cycle-pager-template="<span></span>">

			{% if settings.homeslide-1-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-1-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-1-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-1-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-1-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-1-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-1-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

			{% if settings.homeslide-2-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-2-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-2-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-2-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-2-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-2-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-2-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

			{% if settings.homeslide-3-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-3-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-3-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-3-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-3-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-3-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-3-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

			{% if settings.homeslide-4-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-4-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-4-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-4-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-4-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-4-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-4-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

			{% if settings.homeslide-5-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-5-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-5-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-5-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-5-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-5-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-5-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

			{% if settings.homeslide-6-true %}

				<div class="slide-contenedor">

					<div class="slides slide-izq">

						<div style=" cursor: url({{ 'ice9-image-prev-slide.png' | asset_url }}), pointer;" class="home-nav home-prev"></div>

						<img src="{{ 'homeslide-6-izq-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-6-izq-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-6-izq-prod }}">Ver más</a></span>

						</div>

					</div>

					<div class="slides slide-der">

						<div style="cursor: url({{ 'ice9-image-next-slide.png' | asset_url }}), pointer;" class="home-nav home-next"></div>

						<img src="{{ 'homeslide-6-der-img.png' | asset_url }}" alt="">

						<div class="slide-descripcion">

							<div class="slide-text">

								<h2>{{ settings.homeslide-6-der-text }}</h2>

							</div>

							<span class="slide-boton"><a href="{{ settings.homeslide-6-der-prod }}">Ver más</a></span>

						</div>

					</div>

				</div>

			{% endif %}

		</div>

		<div class="cycle-paginacion"></div>

		<div class="home-contenedor-columnas">

			<div class="home-columnas">

				<a href="/pages/{{ settings.homeitem-izq-url }}"><img src="{{ 'homeitem-izq-img.png' | asset_url }}" alt=""></a>

				<h2>{{ settings.homeitem-izq-tit }}</h2>

				<p>{{ settings.homeitem-izq-des }}</p>

			</div>

			<div class="home-columnas">

				<a href="/pages/{{ settings.homeitem-centro-url }}"><img src="{{ 'homeitem-centro-img.png' | asset_url }}" alt=""></a>

				<h2>{{ settings.homeitem-centro-tit }}</h2>

				<p>{{ settings.homeitem-centro-des }}</p>

			</div>

			<div class="home-columnas">

				<a href="/pages/{{ settings.homeitem-der-url }}"><img src="{{ 'homeitem-der-img.png' | asset_url }}" alt=""></a>

				<h2>{{ settings.homeitem-der-tit }}</h2>

				<p>{{ settings.homeitem-der-des }}</p>

			</div>

		</div>

		<div id="contenedor-instagram" class="contenedor-instagram"></div>

		<div class="instagram-text">

			<span>Instagram</span>

			<a href="#">Follow us @korimikids</a>

		</div>

	</div>

</div>