<div class="modal-mail">

	<div class="cerrar-modal-mail"><img src="{{ 'ice9-image-cerrar-icon-light.svg' | asset_url }}" alt=""></div>

	<h2>{{ settings.modal-mail-titulo }}</h2>

	<p>{{ settings.modal-mail-text }}</p>

	<input type="text" placeholder="{{ settings.modal-mail-placeholder }}">

	<button>{{ settings.modal-mail-boton }}</button>
	
</div>